@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  text-align: center;
  padding: 1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.map-container {
  box-shadow: inset 0px 14px 15px -7px rgba(0, 0, 0, 0.28);
  display: flex;
  justify-content: center;
  background-color: #DFDFDF;
  padding: 1rem;
}
.map-container .text-city {
  display: flex;
  font-size: 1rem;
  gap: 1rem;
}

.hero_section {
  padding-top: 2.5rem;
  padding-bottom: 3rem;
  background-color: rgb(235, 235, 235);
}

.hero_section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: auto 1.5rem auto 1.5rem;
}
.hero_section-content h1 {
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
  padding: 0 2rem 0 2rem;
}
.hero_section-content p {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.button {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 50px;
  padding: 1rem 1.5rem 1rem 1.5rem;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.button:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.347);
  transition: 200ms ease;
  transform: scale(1.01);
}

.restaurants_section {
  padding: 1.2rem;
  background-color: rgb(235, 235, 235);
}
.restaurants_section .restaurant-card_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.restaurants_section .card-item {
  width: 100%;
  min-width: 17rem;
  position: relative;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.restaurants_section .card-item:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.347);
  transition: 200ms ease;
  transform: scale(1.01);
}
.restaurants_section .card-item img {
  width: 100%;
  max-height: 10rem;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
}
.restaurants_section .card-item .new {
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: #008766;
  padding: 0.5rem;
  border-radius: 2px;
  background-color: #99E2D0;
}
.restaurants_section .card-item .card-container-content {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.restaurants_section .card-item .text-block-2 {
  font-size: 1rem;
  font-weight: 700;
}
.restaurants_section .card-item .text-block-3 {
  font-size: 0.8rem;
  font-weight: 300;
}
.restaurants_section .card-item i {
  font-size: 1.4rem;
  color: black;
  position: absolute;
  right: 1rem;
}
.restaurants_section .card-item .fas {
  opacity: 0;
}
.restaurants_section .card-item .fas:hover {
  opacity: 1;
  transform: scale(1.2);
  transition: ease-in-out 100ms;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.restaurants_section a {
  width: 100%;
}

.function-list_section {
  padding: 1.2rem;
}

.function-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.function-list-item .list-content {
  display: flex;
  align-items: center;
  padding: 1.8rem;
  background: #F7F7F7;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.function-list-item .list-content:hover {
  background-color: #f2eafb;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.347);
  transition: 200ms ease;
  transform: scale(1.01);
}
.function-list-item .list-content:hover .function_icon {
  opacity: 1;
  transform: scale(1.1);
  transition: ease-in-out 100ms;
  background-color: #9356DC;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.function-list-item .function-text-content {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: black;
  font-size: 1rem;
  font-weight: 500;
}
.function-list-item .function-text-content i {
  font-size: 1.2rem;
  color: #7E7E7E;
}
.function-list-item a {
  text-decoration: none;
}
.function-list-item .number-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -0.7rem;
  font-size: 0.7rem;
  font-weight: 500;
  color: white;
  background-color: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
}

footer {
  background-color: #353535;
  padding: 1.4rem;
}
footer a {
  color: white;
}
footer h3 {
  font-family: "Shrikhand";
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
}
footer ul {
  margin: 0;
  padding: 0;
}

.list-item {
  display: flex;
}

.list-item-link {
  display: flex;
}
.list-item-link .fa-utensils {
  margin-right: 0.9rem;
}
.list-item-link .fa-handshake-angle {
  margin-right: 0.5rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.navbar_container-restaurant {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar_container-restaurant img {
  position: relative;
  cursor: pointer;
  width: 70%;
}
.navbar_container-restaurant a {
  position: absolute;
  left: 1rem;
  font-size: 1.3rem;
}

.hero_section-restaurant {
  margin: 0;
  padding: 0;
}

.hero_section-content-restaurant {
  width: 100%;
}
.hero_section-content-restaurant img {
  object-fit: cover;
  position: relative;
  width: 100%;
  height: auto;
  z-index: -1;
}

.menu-container {
  padding: 1rem;
  background-color: #F7F7F7;
  border-radius: 2rem;
  z-index: 0;
  margin-top: -2rem;
}
.menu-container .h1-container-restaurant {
  display: flex;
  align-items: center;
}
.menu-container .h1-container-restaurant h1 {
  font-size: 1.5rem;
  font-family: "Shrikhand";
  font-weight: 400;
}
.menu-container .h1-container-restaurant i {
  font-size: 1.4rem;
  color: black;
  position: absolute;
  right: 1rem;
  cursor: pointer;
}
.menu-container .h1-container-restaurant .fas {
  opacity: 0;
}
.menu-container .h1-container-restaurant .fas:hover {
  opacity: 1;
  transform: scale(1.2);
  transition: ease-in-out 100ms;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.menu-container .container-button {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.menu-container .container-button button {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 50px;
  padding: 1rem 1.5rem 1rem 1.5rem;
  color: white;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.menu-container .container-button button:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.347);
  transition: 200ms ease;
  transform: scale(1.01);
}

.container-menu-restaurants h2 {
  font-weight: 300;
  text-transform: capitalize;
  font-size: 1rem;
  margin-bottom: 0.2rem;
}
.container-menu-restaurants .container-h2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin-bottom: 1rem;
}
.container-menu-restaurants .container-h2 .separator {
  background-color: #99E2D0;
  width: 13%;
  height: 4px;
}
.container-menu-restaurants .container-dishes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container-menu-restaurants .container-dishes .card-dishes {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.container-menu-restaurants .container-dishes .card-dishes:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.347);
  transition: 200ms ease;
  transform: scale(1.01);
}
.container-menu-restaurants .container-dishes .card-dishes .text-card-restaurants {
  display: flex;
  flex-direction: column;
}
.container-menu-restaurants .container-dishes .card-dishes .text-card-restaurants h3 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 0;
  padding: 0;
}
.container-menu-restaurants .container-dishes .card-dishes .text-card-restaurants p {
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  font-weight: 300;
}
.container-menu-restaurants .container-dishes .card-dishes .price {
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
