@import "../utils/box-shadow.scss";

.function-list_section{
  padding: 1.2rem;
}

.function-list-item{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .list-content{
    display: flex;
    align-items: center;
    padding: 1.8rem;
    background: #F7F7F7;
    border-radius: 20px;
    @include base-shadow;

    &:hover{
      .function_icon{
        opacity: 1;
        transform: scale(1.1);
        transition: ease-in-out 100ms;
        background-color: #9356DC;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
      background-color: #f2eafb;
      @include hover-shadow;
    }
  }

    .function-text-content{
      display: flex;
      align-items: center;
      gap: 1rem;
      color: black;
      font-size: 0.9rem;
      font-weight: 500;
      & i{
        font-size: 1.2rem;
        color: #7E7E7E;
      }

    }

    & a{
      text-decoration: none;
    }
  .number-content{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -0.7rem;
    font-size: 0.7rem;
    font-weight: 500;
    color: white;
    background-color: #9356DC;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100px;
  }

}

@media only screen and (min-width : 768px){
  .number-content{
    display: flex;
  }
  .function-list_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & a{
      position: relative;
    }

    .function-list-item {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      .list-content {
        width: -moz-available;
        max-width: 320px;
      }
      .function-text-content {
        white-space: nowrap;
      }
    }
  }
}
