@media only screen and (min-width : 768px) and (max-width: 1440px){
  .number-content{
    display: flex;
  }
  .function-list_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & a{
      position: relative;
    }

    .function-list-item {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      .list-content {
        width: -moz-available;
        max-width: 320px;
      }
      .function-text-content {
        white-space: nowrap;
      }
    }
  }

  .restaurants_section {
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
      max-width: 830px;
      width: 100%;

      .restaurant-card_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
      }
    }
  }

  .menu-container {
    margin-left: 10rem;
    margin-right: 10rem;
    // max-width: 1055px;
    border-radius: 2rem 2rem 0 0;

    .h1-container-restaurant {
      & i {
        right: 12rem;
      }
    }
  }


  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 1rem;

    & h3 {
      padding-left: 6rem;
    }

    & .list {
      align-items: center;
      flex-direction: row;
    }

    & li {
      padding: 1rem;
    }
  }

}
