@import "../utils/mixin.scss";
@import "../utils/variables.scss";


.restaurants_section {
  padding: 1.2rem;
  background-color: $grey;

  .restaurant-card_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .card-item {
    width: 100%;
    min-width: 17rem;
    position: relative;
    border-radius: 1rem;
    background-color: $white;
    @include base-shadow;
    transition: ease-in-out 200ms;

    &:hover {
      @include hover-shadow;
    }

    & img {
      width: 100%;
      max-height: 10rem;
      border-radius: 1rem 1rem 0 0;
      object-fit: cover;
    }

    .new {
      position: absolute;
      right: 1rem;
      top: 1rem;
      color: #008766;
      padding: 0.5rem;
      border-radius: 2px;
      background-color: $green;
    }

    .card-container-content {
      padding: 1rem;
      display: flex;
      justify-content: space-between;
    }

    .text-block-2 {
      font-size: 1rem;
      font-weight: 700;
    }

    .text-block-3 {
      font-size: 0.8rem;
      font-weight: 300;
    }

    & i {
      font-size: 1.4rem;
      color: $black;
      position: absolute;
      right: 1rem;
    }

    .fas {
      opacity: 0;

      &:hover {
        opacity: 1;
        transform: scale(1.2);
        transition: ease-in-out 200ms;
        background: linear-gradient(193.33deg, $purple -11.44%, $pink 123.93%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }
  }

  & a {
    width: 100%;
  }
}
@media only screen and (min-width : 768px){
  .restaurants_section {
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
      max-width: 1080px;
      width: 100%;
      // padding: 1.225rem;

      .restaurant-card_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 6rem;
        row-gap: 3rem;
      }
    }
  }
}
